body {
    background-color: rgba(0, 0, 0, 0.952);
    width: 100%;
    font-family: serif;
    color: white;
    overflow-x: hidden;
    height: calc(100vh + 600px);
    margin: 0;
    padding: 0;

}

.Maintabimg {
    max-width: 100%;
    height: auto;
    display: flex;
    margin-top: 100px;

}



#maintabimg {
    border-radius: 10px;
    width: 40%;
    margin-right: 5%;
    flex-wrap: wrap;
}

.htext {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#Headtext {
    font-size: 2.2rem;
    text-align: center;




}

#text2 {
    font-size: 1.8rem;
    text-align: center;
    opacity: 80%;

    position: relative;
    bottom: 10%;
    width: 70%;

}

.Btns {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 6%;
    flex-shrink: 1;


}


#Home {
    font-size: 3rem;
    text-align: center;

    border: 0;
    background: none;
    color: rgba(255, 255, 255, 0.685);
}



#Art {
    font-size: 3rem;
    text-align: center;
    background: none;
    color: rgba(255, 255, 255, 0.685);
    border: 0;
}

#CV {
    font-size: 3rem;
    text-align: center;
    border: 0;
    background: none;
    color: rgba(255, 255, 255, 0.685);
}

#About {
    font-size: 3rem;
    text-align: center;
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.685);


}

.Btns button {
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.Btns button:hover {
    text-shadow:
        0px 0px 10px white,
        0px 0px 20px white,
        0px 0px 40px white,
        0px 0px 200px white;
    opacity: 1;
    color: white;
}




.acontainer {
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#atext2 {
    font-size: 1.7rem;
    text-align: left;
    width: 55%;

}

.Atabimg {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 10%;

}

#atabvid {
    width: 60%;
}

#atabimg {
    width: 70%;
    height: auto;
}


.Mcontainer {
    /*  border: 1px dashed red; */
    width: 60%;
    height: 80vh;
    margin-left: 15%;
    margin: 10%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "McontainerL McontainerRT"
        "McontainerL McontainerRB";
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.788);
    color: black;

    font-family: "Roboto Condensed", sans-serif;

}


.McontainerL {
    /* border: 1px dashed rgb(0, 255, 64); */
    grid-area: McontainerL;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 10px;

}

.McontainerL {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:10% 30% 30% 30%;



}

/*.McontainerL>* {
    border: 1px dashed red;
}*/
.itemL {
    display: flex;
    justify-content: center;
    align-items: center;
}




#Cweather {
    height: 100%;
    width: 80%;

}


#Ctemp {
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#Ctime {
    font-size: 1.5rem;
    text-decoration: underline;
    position: relative;
    bottom: 50px;
}

.itemL2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Ccity {
    max-width: 100%;
    max-height: 100%;
    width: 70%;
    height: 50%;
    border-radius: 10px;
    position: relative;
    bottom: 10%;

}

.citybox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    

}
#Ccityt{
 font-size: 2rem;
 position: relative;
 bottom: 5%;

}












.McontainerRT {
    /* border: 1px dashed rgb(255, 230, 0); */
    background-color: rgba(255, 255, 255, 0.664);
    grid-area: McontainerRT;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "RTtext"
        "d4y";
    border-radius: 10px;


}

/*
.McontainerRT>* {
    border: 1px dashed rgba(0, 0, 0);

}
*/
.RTtext {
    grid-area: RTtext;
    font-size: 1.3rem;
    align-content: center;
    position: relative;
    left: 2%;
    text-decoration: underline;

}

.d4y {
    grid-area: d4y;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;



}

/*
.d4y>* {
    border: 1px dashed purple;
}
*/
.days {
    background-color: white;
    margin: 5%;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    align-items: center;



}

/*
.days>* {
    border: 1px dashed red;
}
*/
.temp{
    max-width: 100%;
    height: auto;

}
















.McontainerRB {
    /* border: 1px dashed pink; */
    background-color: rgba(255, 255, 255, 0.664);
    grid-area: McontainerRB;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
}

/*.McontainerRB>* {
    border: 1px dashed red;
} */
.TDH {

    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3%;
    gap: 5%;

}


/*.TDH>* {
    border: 1px dashed red;


}*/

.TDHe {
    background-color: white;
    border-radius: 10%;
    
}

.RBtext {
    font-size: 1.3rem;
    align-content: center;
    position: relative;
    left: 2%;
    text-decoration: underline;
}
.UVb{
    border: 2.5px solid black;
    width: 80%;
    height: 20%;
    position: relative;
    top: 10%;
    left: 6%;
    border-radius: 20px;
    overflow: hidden; 
    
}
#UVc{
    background: linear-gradient(to right, orange, red);
    width: 0%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#UVv{
    position: relative;
    left: 45%;
    top: 5%;
    font-size: 1.5rem;

}




#UVt{
    margin: 10px;
    opacity: 50%;
}
#WindT{
    margin: 10px;
    opacity: 50%;
}
.WindS{
    display: flex;
    align-items: center;
    justify-content: center;
}
#WindV{
    font-size: 2rem;
}
#Windkm{
    opacity: 50%;
    margin: 2%;
    position: relative;

}
#SunT{
    margin: 10px;
    opacity: 50%;
}
.Sunbox{
    height: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

/*.Sunbox >*{
  border: 1px dashed red;
}*/
.Sunrise{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30% 70%;
    align-items: center;
    justify-content: center;
}



.Sunriseimg{
    max-width: 100%;
    max-height: 100%;
}
#SunriseT{
    margin: 5%;
}#SunsetT{
    margin: 5%;
}

.Humidity{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
/*.Humidity >*{
    border: 1px dashed red;
}*/
.LHumid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50% 30%;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    
}
/*  .LHumid >*{
    border: 1px dashed blue;
}*/
#Humidt{
    position: relative;
    left: 5px;
    opacity: 50%;
    font-size: 1.1rem;
}
.HumidV{
    display: flex;
    align-items: center;
    justify-content: center;
}
#HumidV1{
    font-size: 1.6rem;
}
#HumidS1{
    position: relative;
    left: 10px;
    opacity: 50%;
}
#HumidS2{
    position: relative;
    left: 10px;
    color: red;

}
.HumidS{
    display: flex;

}
.RHumid{

    height: 80%;
    width: 80%;
    border-radius: 15px;
    background-color: rgba(255, 166, 0, 0.151);
    display: block;
    align-items: center;
    justify-content: center;
    align-content: end;
    justify-items: center;
    overflow: hidden;

}
#RHumidBar{
    width: 90%;
    height: 10%;
    background: rgba(255, 166, 0, 0.603);
    border-radius: 200px;
    position: relative;
    bottom: 0%;
    
}

/* HERE */






.Visibility{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
/*.Humidity >*{
    border: 1px dashed red;
}*/
.LVis{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50% 30%;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    
}
/*  .LHumid >*{
    border: 1px dashed blue;
}*/
#Vist{
    position: relative;
    left: 5px;
    opacity: 50%;
    font-size: 1.1rem;
}
.VisV{
    display: flex;
    align-items: center;
    justify-content: center;
}
#VisV1{
    font-size: 1.6rem;
}
#VisS1{
    position: relative;
    left: 10px;
    opacity: 50%;
}
#VisS2{
    position: relative;
    left: 10px;
    color: red;

}
.VisS{
    display: flex;

}
.RVis{

    height: 80%;
    width: 80%;
    border-radius: 15px;
    background-color: rgba(255, 166, 0, 0.151);
    display: block;
    align-items: center;
    justify-content: center;
    align-content: start;
    justify-items: center;
    overflow: hidden;

}
#RVisBar{
    width: 90%;
    height: 10%;
    background: rgba(255, 166, 0, 0.603);
    border-radius: 200px;
    position: relative;
    top: 0%;
    
}

/* HEREEEEEEE*/

.Air{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
/*.Humidity >*{
    border: 1px dashed red;
}*/
.LAir{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 50% 30%;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    
}
/*  .LHumid >*{
    border: 1px dashed blue;
}*/
#Airt{
    position: relative;
    left: 5px;
    opacity: 50%;
    font-size: 1.1rem;
}
.AirV{
    display: flex;
    align-items: center;
    justify-content: center;
}
#AirV1{
    font-size: 1.6rem;
}
#AirS1{
    position: relative;
    left: 10px;
    opacity: 50%;
}
#AirS2{
    position: relative;
    left: 10px;
    color: red;

}
.AirS{
    display: flex;

}
.RAir{

    height: 80%;
    width: 80%;
    border-radius: 15px;
    background-color: rgba(255, 166, 0, 0.151);
    display: block;
    align-items: center;
    justify-content: center;
    align-content: end;
    justify-items: center;
    overflow: hidden;

}
#RAirBar{
    width: 90%;
    height: 10%;
    background: rgba(255, 166, 0, 0.603);
    border-radius: 200px;
    position: relative;
    bottom: 0%;
    
}
.Icon{
    max-width: 100%;
    max-height: 100%;
}
.Icon1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
#Humidper{
    opacity: 50%;
}
#VisKm{
    opacity: 50%;
}
.searchbarc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchbar{
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    transition: box-shadow 0.25s;
    position: relative
    
}
.searchbar:focus-within{    
    box-shadow: 0 0 2px rgb(0, 0, 0, 0.75);
    border-radius: 20px 20px 0 0;
}
.searchinput{
    font-size: 1.1rem;
    color: #333333;
    margin-left: 1%;
    border: none;
    outline: none;
    background: transparent;

}
.searchinput::placeholder, .searchicon {
    color: rgb(0, 0, 0, 0.40);
}
.resultsp {
  position: absolute;
  background: rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 100%;
  max-height: calc(4 * 43px);
  overflow-y: auto;
  display: none;
  z-index: 10;
  top: 100%;
  left: 0;
  scrollbar-width: none;
    -ms-overflow-style: none;
}
.searchform:focus-within .resultsp {
    display: block;
}
.searchbar:focus-within + .resultsp {
    background-color: #f9f9f9;
}
.searchform {
  position: relative;

}
.result-item {
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}
.resultsp::-webkit-scrollbar {
    display: none;
}




























@media(max-width: 600px) {}